.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.rpadding20 {
  padding-right: 20px;
}

.flex.col h4 {
  margin-bottom: 0px;
}

.itemSettings label {
  display: inline-block;
  width: 85px;
}

body>div>div {
  min-width: 500px;
  max-height: 450px;
  flex-grow: 1;
}

.container {
  background: #EEE;
  padding: 5px;
}

.demo {
  padding: 5px;
  background: #EFE;
}

.items {
  padding: 5px;
  background: #EEE;
}

#flexOptions {
  display: flex;
  flex-wrap: wrap;
}

#flexOptions div {
  padding-right: 10px;
}

#demo {
  width: 600px;
  height: 200px;
  border: 1px dashed black;
}

#demo div {
  border: 1px solid grey;
  padding: 5px 10px;
}

#demo .item1 {
  height: 3em;
  width: 100px;
}

#demo .item2 {
  font-size: 2em;
  width: 125px;
}

#demo .item3 {
  min-height: 2em;
  width: 75px;
}

#demo .item4 {
  min-height: 4em;
  width: 110px;
}

#demo .item5 {
  font-size: 1.5em;
  width: auto;
}

#demo .item6 {
  height: 2.5em;
  width: 90px;
}
