<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fildatabasen</title>
  <style>
    body{
      margin-left: 3em;
    }
    table {
      border-spacing: 0;
    }
    tr td:first-child {
      width: 200px;
    }

    tr td:nth-child(2) {
      width: 70px;
      text-align: right;
    }

    tr td:last-child {
      width: 300px;
      padding-left: 10px;
    }

    th {
      text-align: left;
      padding-left: 10px;
    }

    tr:nth-child(even) {
      background-color: #eee;
    }

    td {
      padding: 3px 5px;
    }
  </style>
</head>
<body>
  <h1>Velkommen til fildatabasen</h1>
  <p><a href="upload.php">Last opp en fil</a></p>
  <h2>Filer i databasen</h2>
  <table>
    <thead>
      <tr>
        <th>Filnavn</th>
        <th>Størrelse</th>
        <th>Beskrivelse</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td><a href="uploadedFiles/{{file.owner}}/{{file.id}}" download="{{file.name}}">{{file.name}}</a></td>
          <td>{{file.size}}</td>
          <td>{{file.description}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
