.item-a {
  grid-area: header;
  height: 100%;
  width: 100%;
  background-color: blue;
}
.item-b {
  grid-area: main;
  height: 100%;
  width: 100%;
  background-color: yellow;
}
.item-c {
  grid-area: sidebar;
  height: 100%;
  width: 100%;
  background-color: red;
}
.item-d {
  grid-area: footer;
  height: 100%;
  width: 100%;
  background-color: green;
}

.container {
  border: 1px dashed black;
  display: grid;
  width: 600px;
  height: 90vh;
  grid-template-columns: 1fr 1fr 1fr 100px;
  grid-template-rows: 150px 1fr 70px;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
