.visual {
  grid-area: visual;
}

.cssCode {
  grid-area: cssCode;
}

.guide {
  grid-area: guide;
}

.masterContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 4% 1fr 4%;
  grid-template-rows: auto;
  grid-template-areas:
    ". visual ."
    ". cssCode ."
    ". guide .";
}

@media (min-width: 1024px) {
  .masterContainer {
    grid-template-columns: 4% 605px 1fr 4%;
    grid-template-rows: auto;
    grid-template-areas:
      ". visual cssCode ."
      ". guide . ."
  }

  textarea {
    margin-left: 10px !important;
  }
}

@media (min-width: 1300px) {
  .masterContainer {
    grid-template-columns: 4% 605px 1fr 1fr 4%;
    grid-template-rows: auto;
    grid-template-areas:
      ". visual cssCode guide ."
  }

  textarea {
    margin-left: 10px !important;
  }

  .guide {
    padding-left: 60px;
    padding-top: 20px;
  }
}

textarea {
  margin: 5px 0;
  width: 100%;
  height: 100%;
  height: 40em;
  white-space: nowrap;
  overflow: auto;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 15px 18px;
  padding-top: 5px;
}
